// @import "../../shared/FixedProperites.scss";
$mainColor:rgb(76, 24, 119);
$mainFontSize:20px;
$contentColor:white;
$fontsize:18px;
$headerFontSize:25px;
.header{
    // background: url(../../../assets/images/bg-header.png);
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 715px;
    .content{
        margin: 40% 0px;
        color: $contentColor;
        font-size: $fontsize;
        button{
            background:transparent;
            color: $contentColor;
            border: 1px solid white;
            outline: none;
            width: 30%;
            padding: 9px;
            font-family: system-ui;
            transition: .5s;
            
        } 
        
        button:hover{
            border:none;
          background:rgb(45, 3, 100);
          box-shadow: 0 0 10px rgb(45, 3, 100),0 0 40px rgb(45, 3, 100), 0 0 80px rgb(45, 3, 100);       
        }
      
        h5{
            font-family: cursive;
            font-size: $headerFontSize;
        }
        p{
            font-family: system-ui;
            margin: 6% 0px;
        }
        a{text-decoration: none;color: $contentColor;}
    }

}

.about{
    h5{
        color: $contentColor;
        font-size: $mainFontSize;
        font-family: cursive;
        margin-top: 17% ;
    }
    p{
        color: $contentColor;
        font-size: $fontsize;
        margin: 5% 0;
        font-family: -webkit-pictograph;
        
    }
}

.overview{
    .content{
        background: rgb(45, 3, 100);
        padding: 70px;
        color: $contentColor;
        font-size: $fontsize;
        border-radius: 7px;
        h5,p{margin-left: 5%;font-family: -webkit-pictograph;
        }
        h5{font-size: $mainFontSize;font-family: cursive;
        }
    }
}

.tab{
    ul{
        li{
            list-style-type: none;
            font-size: $fontsize;
            margin: 3% 0;
            cursor: pointer;
            background:rgb(45, 3, 100);
            color: white; 
            padding: 20px;
            border-radius: 5px;
            transition: all 1s ease-in-out;
                font-family: -webkit-pictograph;
          a{
              width: 80%;
          }
          span{
            width: 20%;
            font-weight: bold;
            font-size: 48px;
            margin-left: 20%;
            color: #2d0364;
          }
            
        }

    }
    .content{
        background: rgb(45, 3, 100);
        padding: 20px;
        font-size: $fontsize;
        border-bottom-left-radius: 120px;
        border-top-right-radius: 120px;
        span{color: rgb(187, 18, 238);}
        h5{
            font-size: $mainFontSize;
            color: $contentColor;
            margin: 8% 0;
            font-family: cursive;
        }
        p{
            margin-top: 12%;
            margin-left: 2%;
            color: $contentColor;
            font-family: -webkit-pictograph;
        }
        ul{
            li{
                list-style-type: disc;
                margin: 0;
                color: $contentColor;
                padding: 4px;
                background: transparent;
            }
           
        }
    }
}

.tabStyle{
    background:white !important;
    color: rgb(45, 3, 100) !important;
}
::marker {color: rgb(187, 18, 238);}

.certificate{
    overflow-x: hidden;
    h5{color: $contentColor;font-size: $mainFontSize;margin-top: 30%;font-family: cursive;}
    p{color: $contentColor;font-size: $fontsize;font-family: -webkit-pictograph;
    }
}

@media (max-width:767px) {
    .header .content button{
        margin-top: 2%;
        width: 39%;
    }
    .overview .content .row div:nth-of-type(1),.overview .content .row div:nth-of-type(2){
        border-right: none !important;
        border-bottom: 1px solid white;
    }
    .overview .content h5{
      margin-top: 8%;
    }
    .overview .content p{
        margin-bottom: 8%;
        font-size: 16px;
      }
    .tab .content h5{
        font-size: 16px;
        color: white;
        margin: 16% 0;
    }
    .tab .content{border-radius: 9px}
    .overview .content{
        padding: 23px;
    }
    .tab .content div:nth-of-type(1){
        flex-wrap: wrap;
    }
    .tab .content div:nth-of-type(1) p{
        width: 100% !important;
    }
    .tab .content div:nth-of-type(1) img{
        width: 80% !important;
        margin-left: 13%;
        margin-top: 4%;
        margin-bottom: 4%
    }
    .tab ul{margin-left: -5%;}
    ::marker {color: rgb(187, 18, 238) !important;}

}

@media (min-width:768px) and (max-width:991px) {
    
    .overview .content h5{
        margin-top: 8%;
      }
      .overview .content p{
          margin-bottom: 8%;
          font-size: 16px;
        }
    .overview .content .row div:nth-of-type(1),.overview .content .row div:nth-of-type(2){
        border-right: none !important;
        border-bottom: 1px solid white;
    }
}