/* You can add global styles to this file, and also import other style files */
// @import "../../courses/src/app/shared/FixedProperites.scss";
$mainColor:rgb(76, 24, 119);
body{
    background: $mainColor;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
